*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Oswald", sans-serif;
    background-color: black;
    color: aliceblue;
}

html,body{
    height: 100%;
    width: 100%;
}

.elements{
    height: 100%;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    
}

#elem{
    height: 140px;
    width: 100vw;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content:start ;
    margin: 10px;
    
}

#elem h1{
    font-size: 8vw;
    text-align: left;
}
